{% set pageTitle = "Get an isolation note prototype" %}

{% extends "includes/layout.html" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">{{ pageTitle }}</h1>

      <h2 class="nhsuk-heading-m">Version 5</h2>
      <b>Changes this version (29 July 2021)</b>
      <p>Changes to self-isolation rules on 16 August 2021</p>

      <h3>Get an isolation note - v5a</h3>
      <ul>
        <li><a href="/v5">Get an isolation note</a> <span class="nhsuk-tag">Updated</span></li>
        <br>
        <h5>Get an isolation note - v5b</h3>
        <li><a href="/v5/screener-question-why-v2">Why do you have to self-isolate?</a> <br>(with option "I am at higher risk from coronavirus") <span class="nhsuk-tag">Updated</span></li>
        <ul>
          <li><a href="/v5/screener-question-why-no">You do not need an isolation note</a> <span class="nhsuk-tag">Updated</span></li>
        </ul>
      </ul>

      <br> 
      <h3>Check an isolation note</h3>
      <ul>
        <li><a href="/v5/check">Check an isolation note</a> <span class="nhsuk-tag">Updated</span></li>
        <li><a href="/v5/check/confirmation-page">This isolation note is valid</a></li>
        <li><a href="/v5/check/confirmation-page-invalid">We do not have a record of this isolation note</a></li>
      </ul>

      <hr>
     

 {% endblock %}
