{% set pageTitle = "Get an isolation note prototype" %}

{% extends "includes/layout.html" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">{{ pageTitle }}</h1>

      <h2 class="nhsuk-heading-m">Version 5</h2>
      <h3>Get an isolation note</h3>
      <ul>
        <li><a href="/v5">Get an isolation note</a></li>
        </ul>
      </ul>

      <br> 
      <h3>Check an isolation note</h3>
      <ul>
        <li><a href="/v5/check">Check an isolation note</a></li>
        <li><a href="/v5/check/confirmation-page">This isolation note is valid</a></li>
        <li><a href="/v5/check/confirmation-page-invalid">We do not have a record of this isolation note</a></li>
      </ul>

      <hr>
     

 {% endblock %}
